In [ ]:
import math
import os
import sys
import time
import random
import urlparse
import json
from random import randint
from datetime import datetime
from math import pi
from sys import version_info

In [ ]:
table_=spark.sql("""select * from table
asfgcbdha kajhfl
kjhgadflkjjejafgkaf
jhdfk
jafk
kjafl
aiyeo""")
table_=createOrReplaceTempView("table_")

In [ ]:
table_1=spark.sql("""Update * from table
asfgcbdha kajhfl
kjhgadflkjjejafgkaf
jhdfk
jafk
kjafl
aiyeo""")
table_=createOrReplaceTempView("table_1")

In [ ]:
table_2=spark.sql("""detele * from table
asfgcbdha kajhfl
kjhgadflkjjejafgkaf
jhdfk
jafk
kjafl
aiyeo""")
table_=createOrReplaceTempView("table_2")

In [ ]:
table_3=spark.sql("""select * from abc_table
asfgcbdha kajhfl
kjhgadflkjjejafgkaf
jhdfk
jafk
kjafl
aiyeo""")
table_=createOrReplaceTempView("table_3")